{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block css %} {% endblock %}
    <link rel="stylesheet" href="{% static 'static/css/main.bundle.css' %}" />
    <script src="{% static 'static/main.bundle.js' %}"></script>
    <title>Luxury Tour In Nepal</title>
  </head>
  <body>
    <div id="app">
      <!-- -- header -- -->
      <header class="fixed-top">{% include 'header/index.html' %}</header>
      <main class="mt-5 pt-3">
        <div class="container-fluid">{% block content %} {% endblock %}</div>
      </main>
      <h1>Footer</h1>
    </div>
    {% block script %} {% endblock %}
  </body>
</html>
